html,body{ height: 100%; }
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #f0f0f0;
}

*{
  box-sizing: border-box;
}

.public-DraftEditor-content{
  min-height: 80vh;
  background: #fff;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1em;
}

.copy-icon{
  font-size: 2rem;
  cursor: pointer;
}
.copy-icon:hover{
  color: rgb(255, 105, 5)
}